*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
.header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #777;
  display: flex;
  flex-direction: column;
  /* background: url(./assets/dacbg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.hero-picker{
  color: white;
  display: flex;
}

.board {
  background-color: rgba(255,255,255, 0.4);
  height: auto;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .board-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 1em;
    .hero-item-board {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 1em;
      padding: 1em 0;
      .name {
        text-align: center;
        font-size: 2rem;
      }
      .races {
        text-align: center;
      }
    }
  }
  .board-btns {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.synergies {
  background-color: rgba(197, 41, 41, 0.4);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.synergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  .stages {
    display: flex;
    gap:0.1em;
  }
  
}
.active {
  font-weight: bold;
}
.flex-column {
  flex: 1;
}
.synergy:has(.active) {
  font-size: x-large;
}

.card {
  display: block;
}
.hide {
  display: none;
}

.hero-item-picker, 
.hero-item-board {
  cursor: pointer;
  text-align: left;
  padding: 0.1em 1em;
}
.hero-item-picker {
  display: flex;
  justify-content: space-between;
}

.hero-item-board {
  display: flex;
  gap: 1em;
}

.picked {
  background-color: rgb(0, 172, 0);
}
.hero-item-picker:hover,
.hero-item-picker:focus-visible
{
  background-color: rgba(0, 255,255,0.9);
}

.grid-caption {
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
}
/* .ones {
  background-color: rgb(204, 252, 252);
}
.twos {
  background-color: rgb(70, 144, 253);
}
.threes {
  background-color: rgb(28, 5, 241);
}
.fours {
  background-color: rgb(177, 0, 221);
}
.fives {
  background-color: rgb(199, 221, 0);
} */
