*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
:root{
  --rows: 3;
  --columns: 2;
}
.header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brick-grid {
  width: 100px;
  display: grid;
  border: 1px solid black;
  opacity: 0.4;
  transition: 100ms ease-in-out;
}
.brick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  background-color: #777;
  opacity: 1;
  border: 1px solid orange;
}
.brick-grid:has(.brick-stage.brick-active) {
  opacity: 1;
}

.brick-stage.brick-active{
  font-size: 16px;
}
.brick-active {
  background-color: green;
  opacity: 1;
}

.container {
  min-height: 100vh;
  background-color: #777;
  display: flex;
  flex-direction: column;
}
.hero-picker{
  padding: 0 5em;
  color: white;
  display: flex;
  font-size: 1.1rem;
  flex-wrap: wrap;
}

.board {
  padding: 2em;
  width: 100%;
  border: 5px solid green;
  background-color: rgba(255,255,255, 0.4);
  height: auto;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 20%;
}
.board-grid {
  width: 40%;
  flex-wrap: wrap;
  margin-left: auto;
  display: flex;
  gap: 3em; 
}
.hero-item-board-icon {
  width: 100%;
  aspect-ratio: 2/1;
  cursor: pointer;
}
.hero-item-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 50%;
  padding-bottom: 0.5em;
}
.hero-item-board-race {
  width: 50px;
  aspect-ratio: 3/2;
  outline: 1px solid black;
}

.name {
  text-align: center;
  font-size: 2rem;
}
.races {
  display: flex;
  gap: 0.5em;
  text-align: center;
}
.hero-race-div {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.hide {
  display: none;
}
.board-btns {
  border: 5px solid purple;
  display: flex;
  font-size: 1.5rem;
  button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
  }
}

.synergies {
  background-color: rgba(122, 228, 255, 0.4);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
}
.synergy {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: center;
  justify-content: flex-end;
}
.stages {
  display: flex;
  align-items: center;
  gap:0.1em;
}
.active {
  font-weight: bold;
}
.flex-column {
  flex: 1;
}
.synergy:has(.active) {
  font-size: x-large;
}
.brick-grid {
  display: flex;
  flex-direction: column-reverse;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.plusButton{
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.hide {
  display: none;
}
.hero-race-img {
  transition: 200ms ease-in-out;
}

.hero-item-picker{
  cursor: pointer;
  padding: 0.1em 1em;
}

.highlighted {
  outline: 1px solid black;
}
.hero-item-picker:has(.highlighted) {
  opacity: 1;
  background-color: #555;
}
.hero-item-picker.outOfPool {
  opacity: 0.6;
}
.hero-item-picker.outOfPool:not(:has(.active)) {
  opacity: 0.3;
}
.passive {
  opacity: 0.4;
  outline: 0;
}
.hero-item-picker {
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
  transition: 200ms ease-in-out;
}


.activeStage {
  font-size: larger;
  font-weight: bold;
}
.hero-title{
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.hero-item-board {
  display: flex;
  gap: 1em;
}

.hero-item-picker:hover,
.hero-item-picker:focus-visible
{
  background-color: rgba(0, 255,255,0.9);
  opacity: 1;
}

.grid-caption {
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
}
.one {
  background-color: rgb(204, 252, 252);
  outline: 10px solid rgb(204, 252, 252);
}
.two {
   background-color: rgb(70, 144, 253);
 outline: 10px solid rgb(70, 144, 253);
}
.three {
   background-color: rgb(28, 5, 241);
 outline: 10px solid rgb(28, 5, 241);
}
.four {
   background-color: rgb(177, 0, 221);
 outline: 10px solid rgb(177, 0, 221);
}
.five {
   background-color: rgb(199, 221, 0);
 outline: 10px solid rgb(199, 221, 0);
}
.hero-races {
  text-align: right;
}
.hero-item-picker.picked {
  background-color: rgb(0, 172, 0);
}
.passiveRaceIcon {
  opacity: 0.5;
}
.activeRaceIcon {
  opacity: 1;
  outline: 2px solid black;
}